<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<center>
	<title>Generate QR code</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</center>
</head>
<body>
	<center>
	<p style="font-family: Courier New; font-size: 50px">Generate qr code</p>
	<p style="font-family: Courier New; font-size: 50px">Enter text:</p>
	<!--  p th:text="'Hello, ' + ${name} + '!'" /-->
	<form id="theForm"> 
    <textarea id='subj' rows="10" cols="35" style="font-size: 30px"></textarea>
    <br><br>
    <input type='submit' VALUE="Generate QR Code" style="font-size: 30px"/>
    <input type="button" VALUE="Back" onClick="location.href = 'http://localhost:8080/';" style="font-size: 30px" >
</form>
</center>
</body>
<script type="text/javascript">
var theForm = document.getElementById('theForm');
var theInput = document.getElementById('subj');

theForm.onsubmit = function(e){
    location = "http://localhost:8080/result?name="
                              + encodeURIComponent(theInput.value);
    return false;
}
</script>
</html>